<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner" style="margin-bottom: 0px">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Rong</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="javascript:;">menu</a>
                </li>
                <li>
                    <a href="javascript:;">menu</a>
                </li>
                <li>
                    <a href="javascript:;">menu</a>
                </li>
                <li>
                    <a href="javascript:;">menu</a>
                </li>
                <li>
                    <a href="javascript:;">menu</a>
                </li>
                <li>
                    <a href="javascript:;">menu</a>
                </li>
                <li>
                    <a href="javascript:;">menu</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a  class="user_doLogin" href="javascript:;"  event-node="" onclick="user.doLogin()">Login</a></li>
                <li><a  class="user_doSignup" href="javascript:;" onclick="user.doSignup()">signup</a></li>
            </ul>
        </nav>
    </div>
</header>